.nav-wrapper li {
  margin: 0 10px;
  position: relative;
}

.nav-wrapper a:hover::before {
  transform: scaleX(1);
}

.nav-wrapper {
  line-height: 80px;
}

.background-section {
  background-image: repeating-linear-gradient(-45deg, #8B4513, #8B4513 40px, #CD853F 40px, #CD853F 80px);
}
